# ===== LOCAL =====
# GITHUB_TOKEN=
# OLLAMA_BASE_URL=http://localhost:11434
# OLLAMA_MODEL=qwen2.5:3b
# DEMO_MODE=true
# ALLOW_REAL_COMMANDS=false

# ===== GPU SERVER =====
GITHUB_TOKEN=
OLLAMA_BASE_URL=http://59.15.228.232:11434
OLLAMA_MODEL=custom-gemma4:31b
DEMO_MODE=true
ALLOW_REAL_COMMANDS=false